@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Source+Sans+Pro&display=swap');
body {
    background-color: #F7efe5;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
}
#title {
    font-size: 80px;
    padding-top: 50px;
    font-family: 'Leckerli One', cursive;
}
button {
    padding: 0.8em 1.4em;
    margin: 0.8em 1.0em;
    border-width: 0px;
    border-color: black;
    border-style: solid;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    background-color: #Ffbbae;
    font-family: inherit;
    font-size: 16px;
    transition: all 0.4s ease;
}
#create {
    background-color: #cae1d4;
}
button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 20px 1px;
}
button:focus, input[type="color"]:focus {
    outline: none;
}
input[type="color"] {
    -webkit-appearance: none;
    border: none;
    height: 15px;
    margin-left: 5px;
    width: 20px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}
.color-button-container, .reset-container {
    margin: 30px 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 500px;
    height: 15px;
    border-radius: 5px;  
    background: white;
    outline: none;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #cae1d4;
    cursor: pointer;
}
#slider-value {
    width: 30px;
    font-family: 'Leckerli One', cursive;
}